.background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1920px;
  opacity: 0.6;
  z-index: -1;
}

.background radialGradient stop:first-child,
.background linearGradient stop:first-child {
  animation: change-color 30s infinite;
}

.rotate {
  animation: rotate 60s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes change-color {
  0% {
    stop-color: #ffd37e;
  }
  50% {
    stop-color: #ff7ee9;
  }
  100% {
    stop-color: #ffd37e;
  }
}
