/* Landing page Post overwiev ---------------------------------------------*/
main section article,
main aside article,
.card {
  gap: calc(var(--padding) / 2);
  background-color: var(--background-color);
  padding: calc(var(--padding) / 2);
  padding-top: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-small);
  margin-bottom: var(--margin);
}

#posts article a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#posts article figure {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: calc(var(--padding) / 2);
  margin-bottom: var(--margin);
  order: -1;
}

.author-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: calc(var(--padding) / 2);
  padding-left: 0;
  gap: calc(var(--padding) / 2);
  flex: 0 10;
}

#posts figure img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

#posts nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

#posts nav ul {
  display: flex;
  gap: calc(var(--padding) / 4);
}

/* Sidebar with contacts, related posts and Tags------------------------- */
/*    Categories section*/
.categories {
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding-top: calc(var(--padding) / 1.8);
}

.categories table {
  width: 100%;
  border-spacing: 0 0.5rem;
}

.categories thead {
  text-align: left;
  font-size: 1.5rem;
}

.categories table td {
  border-bottom: var(--border);
}

/*    Related posts section*/
.recent-posts {
  display: flex;
  flex-direction: column;
}

.recent-posts h2 {
  order: -1;
}

.recent-posts .card {
  display: flex;
  align-items: flex-start;
  box-shadow: none;
  background-color: transparent;
  margin-bottom: 0;
  padding-left: 0;
}

.recent-posts img {
  width: 30%;
  flex-grow: 0;
  border-radius: var(--border-radius);
}

/*    Tags section */
.tags ul {
  display: flex;
  flex-wrap: wrap;
}

.tags ul li {
  margin: var(--margin);
  margin-left: 0;
  font-weight: bold;
}
/* Contact me section----------------------------------------------- */
.contact-me {
  background-color: var(--off-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--padding) / 4);
}

.contact-me h2 {
  font-size: 2rem;
}

.contact-me ul {
  display: flex;
  flex-direction: column;
  gap: calc(var(--padding) / 2);
  width: 100%;
}

.contact-me li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  gap: calc(var(--padding) / 2);
  background-color: var(--background-color);
  padding: calc(var(--padding));
  border-radius: var(--border-radius);
}

.contact-me li i {
  font-size: 2rem;
  flex-grow: 1;
  color: var(--text-color);
}

.contact-me li h3 {
  font-size: 1.2rem;
}

.contact-me li div {
  flex: 6;
}
